@import '../../common/templates.module';
@import '../../common/variables.module';

.formAddTodo{
  display: flex;
  width: 100%;
  height: 10vh;
  @media screen and (min-width: 599px) {
    height: 9vh;
  }
    @media screen and (min-width: 768px) {
    height: 8vh;
  }
}
.wrapperInputAddTodo{
  position: relative;
  width: 80%;
  height: 100%;
}
.inputAddTodo{
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  border: none;
}
.error {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  margin-bottom: 10px;
  color: $redColor;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.btnAddTodo{
  width: 20%;
  padding: 15px 10px;
  border: none;
  background: $mintColor;
}
.btnAddTodo:hover{
  opacity: 0.9;
}
