@import '../../common/templates.module';
@import '../../common/variables.module';

.container {
  @extend %flex-col-jcsb;
  width: 800px;
  max-height: 850px;
  margin: 50px auto 0;
  background: $darckColor;
  text-align: center;
  color: $mintColor;
  @media screen and (max-width: 991px) {
    width: 100%;
    min-height: 100vh;
    margin: 0;
  }
  @media screen and (min-width: 991px) {
    height: 850px;
  }
}
.wrapper{
  height: 90vh;
  width: 100%;
  overflow: hidden;
  @media screen and (min-width: 599px) {
    height: 91vh;
  }
  @media screen and (min-width: 768px) {
    height: 92vh;
  }
  @media screen and (min-width: 991px) {
    height: 92%;
  }
}
.title{
  @extend %flex-jcc-aic;
  width: 100%;
  padding: 30px 0;
  font-size: 24px;
  text-transform: uppercase;
  background: $blackColor;
  @media screen and (max-width: 693px) {
    font-size: 18px;
  }
}