@import '../../common/templates.module';
@import '../../common/variables.module';

.listContainer{
  padding: 0 20px;
  overflow: hidden;
  @media screen and (min-width: 599px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
}
.item{
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 25px 55px 25px 25px;
  border: solid $greyColor 1px;
  border-radius: 10px;
  color: $greyColor;
}
.item:hover, .item:focus, .item:active{
  border: solid $mintColor 1px;
}
.checkbox{
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.checkboxInput{
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.checkboxLabel{
  padding-left: 25px;
  font-size: 14px;
  color: $greyColor;
  cursor: pointer;
}
.checkboxLabel::before{
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 50%;
  background-color: $mintColor; 
}
.checkboxInput:checked + .checkboxLabel::before{
  background-color: $redColor;
}
.checkboxInput:checked + .checkboxLabel{
  text-decoration: line-through;
}
.btnDel{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  font-weight: 800;
  background: none;
  border: none;
  color:  $mintColor;
}
.btnDel:hover{
  color:  $redColor;
}